<div class="container py-4" >
<h1><%= @restaurant.name %></h1 class="py-4">
  <%= simple_form_for([@restaurant, @review]) do |f| %>

    <%= f.input :rating %>
    <br>

    <%= f.input :content %>
    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
</div>
